<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h1>ALL RECIPES</h1>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 g-2 g-lg-3">
        <% if (recipe != '') { %>
            <% recipe.forEach(function(recipe, index){ %>
        <a href="/recipe/<%= recipe._id %>" class="col text-center recipe__link">
            <div class="recipe__img shadow">
                <img src="<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
            </div>
            <div class="recipe-name-card pt-1"><%= recipe.name %></div>
            <span class="username text-center"><%= recipe.createdByUsername %></span>
            
        </a>
            <% }) %>
        <% } else { %>
            <p>No items found.</p>
        <% } %>
    </div>
</section>